@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Farrerons Serif';
    src: local('Farrerons Serif DemiBold'), local('Farrerons-Serif-DemiBold'),
        url('../fonts/FarreronsSerif-DemiBold.woff2') format('woff2'),
        url('../fonts/FarreronsSerif-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --body-color: #292433;
    --main-color: #292433;
    --hover-color: #FF0A0A;
    --gray-color: #9E9E9E;
    --footer-color: #D7D7D7;
    --border-color: #E1E1E1;
    --accent-yellow-20: #FFF4D0;
    --neutral-black-100: #000;
    --neutral-white-100: #FFF;
    --neutral-grey-40: #CCC;
    --neutral-grey-60: #999;
    --neutral-grey-80: #1F1F1F;
    --neutral-light-grey: #f8f8f8;
    --accent-yellow-20: #FFF4D0;
    --bold-font: 'Gotham Bold'; 
    --primary-font: 'Inter', sans-serif;
    --second-font: 'Farrerons Serif';    
}

html{
  	-webkit-text-size-adjust: 100%;
}
body{
	font-family: var(--primary-font), sans-serif;
	margin: 0;
	padding: 0;
	color: var(--body-color);
	background-color: #f5f5f5;
    font-weight: 500;
	font-size: 18px;
    line-height: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
main {
	display: block;
}
h1, h2, h3, h4,h5,p{
	margin: 0;
	padding: 0;
	line-height: normal;
}
h1,h2,h3{
    font-family: var(--second-font);
    font-weight: 600;
}
figure, img{
	padding: 0;
	margin: 0;
}
img {
    height: auto;
    max-width: 100%;
    border-style: none;
    vertical-align: middle;
}
a:hover{
	color: inherit;
	text-decoration: none;
}
a{
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
    text-decoration: none;
    color: var(--neutral-black-100);
}
p{
	padding: 0;
	margin: 0;
    line-height: 1.8;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn:focus, .btn:active,
a:focus, a:active,
input:focus, input:active,
textarea:focus, textarea:active,
select:focus, select:active,
button:focus, button:active,
span:focus, span:active{
	outline: 0;
	box-shadow: none;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
input, textarea, select, button{
	font-family: var(--primary-font), sans-serif;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* Helper Styles */
.site-container{
	max-width: 1440px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.site-row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.site-align-center{
	align-items: center;
	justify-content: center;
}
.site-col-12{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.site-col-11{
	-ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.site-col-10{
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}
.site-col-9{
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}
.site-col-8{
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
.site-col-7{
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}
.site-col-6{
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.site-col-5{
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}
.site-col-4{
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.site-col-3{
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.site-col-2{
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}
.site-col-1{
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}
.site-col-1,
.site-col-2,
.site-col-3,
.site-col-4,
.site-col-5,
.site-col-6,
.site-col-7,
.site-col-8,
.site-col-9,
.site-col-10,
.site-col-11,
.site-col-12{
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.site-col-offset-4{
	margin-left: 33.333333%;
}
.site-col-offset-3{
	margin-left: 25%;
}
.site-col-offset-2{
	margin-left: 16.666667%;
}
.site-col-offset-1{
	margin-left: 8.333333%;
}
.img-fluid{
	max-width: 100%;
    height: auto;
}

/* Site Headings */
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.content-center{
    display: flex;
    justify-content: center;
}
.content-right{
    display: flex;
    justify-content: right;
}
.content-left{
    display: flex;
    justify-content: left;
}
.site-heading-white{
    color: #fff;
}
.site-heading-dark{
    color: var(--body-color);
}
.site-heading h2{
    font-family: var(--second-font);
    font-size: 58px;
}
.site-heading h3{
    font-size: 28px;
    line-height: 1.5;
}
.site-heading p{
    color: #686F75;
}

/* Site Buttons */
.site-button{
    display: block;
}
.site-button a{
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 10px;
    height: 50px;
    padding: 0 30px;
    line-height: 40px;
    letter-spacing: 1px;
    border-radius: 100px;
    border: 1px solid var(--neutral-white-100);
    text-transform: uppercase;
    transition: all .3s ease;
    color: var(--main-color);
    background-color: var(--neutral-white-100);
}
.site-button a:hover,
.site-button a:focus{
    color: var(--neutral-white-100);
    background-color: var(--hover-color);
}
.site-button a svg{
    width: 30px;
    height: 30px;
}
/* Site button dark */
.site-button.dark a{
    color: var(--neutral-white-100);
    background-color: var(--body-color);
}
.site-button.dark a:hover,
.site-button.dark a:focus{
    color: var(--body-color);
    background-color: var(--neutral-white-100);
}
.site-button.dark a:hover svg circle,
.site-button.dark a:focus svg circle{
    fill: var(--body-color);
}
.site-button.dark a:hover svg path,
.site-button.dark a:focus svg path{
    fill: var(--neutral-white-100);
}
/* Site button light */
.site-button.light a{
    color: var(--body-color);
    background-color: var(--neutral-white-100);
}
.site-button.light a:hover,
.site-button.light a:focus{
    color: var(--neutral-white-100);
    background-color: var(--body-color);
}
.site-button.light a:hover svg circle,
.site-button.light a:focus svg circle{
    fill: var(--neutral-white-100);
}
.site-button.light a:hover svg path,
.site-button.light a:focus svg path{
    fill: var(--body-color);
}

/* Logo */
.nav-logo{
    display: flex;
    justify-content: start;
    padding: 15px 0 15px 70px;
    width: 20%;
}
.nav-logo a{
    display: block;
    height: 70px;
}
.nav-logo img{
    display: block;
    height: 70px;
    width: 100%;
}

.main-header{
    position: static;
    top: 0;
    width: 100%;
    z-index: 9;
    transition: .3s ease;
}

/* Top Navigation */
.top-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.top-nav{
    padding: 0 30px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.06);
}
.top-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Main Navigation */
.main-nav a,
.main-nav select{
    font-family: 'Gotham Medium';
    font-size: 14px !important;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    border-radius: 10px;
    background-color: var(--body-color);
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;    
}
.nav-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-menu ul li{
    position: relative;
    margin-right: 30px;
    display: inline-block;
}
.nav-menu ul li a{
    font-size: 16px;
    font-weight: 700;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-menu ul li a::after{
  content: '';
  position: absolute;
  top: auto;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: width .3s;
  background-color: var(--neutral-white-100);
}
.nav-menu ul li a:hover::after{
  width: 100%
}
.nav-menu ul li:last-child{
    margin-right: 0;
}
.nav-tools{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 70px;
    gap: 60px;
    width: 20%;
}
.nav-language select{
    text-transform: uppercase;
    border-radius: 100px;
    padding: 10px 15px 10px 10px;
    background-color: transparent;
    color: var(--neutral-white-100);
    border: 1px solid var(--neutral-medium-grey, #D3D4D6);
}

/* Footer */
.main-footer{
    color: var(--neutral-white-100);
    background-color: #15101F;
    padding-top: 70px;
}
.footer-top{
    padding-bottom: 70px;
}
.footer-bottom{
    padding: 25px 0;
	border-top: 1px solid var(--neutral-grey-80);
    background: #04000E;
}
.footer-logo{
    margin: 0 0 30px 30px;
}
.footer-logo img{
    width: auto;
    height: 100px;
}
.footer-socials{
    display: flex;
    gap: 10px;
}
.footer-socials a{
    display: flex;
    width: 25px;
    height: 25px;
}
.footer-socials img,
.footer-socials svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.footer-copyright p{
    font-family: var(--bold-font);
    font-size: 14px;
}
.footer-details h4,
.footer-navigation h4{
    font-family: var(--bold-font);
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-navigation ul li{
    margin-bottom: 10px;
}
.footer-navigation ul li:last-of-type{
    margin-bottom: 0;
}
.footer-navigation ul li a{
    font-family: var(--primary-font);
    font-size: 16px;
    text-decoration: none;
    color: var(--footer-color);
}
.footer-navigation ul li a:hover,
.footer-navigation ul li a:focus{
    color: var(--neutral-white-100);
}


/* Swiper */
.home-slider{
    margin-bottom: 70px;
}
.swiper {
    width: 100%;
    height: 800px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F3F3;
}
.slider-image{
    position: relative;
    display: flex;
    width: auto;
    height: 800px;
}
.slider-image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.slider-caption{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-50%);
}
.slider-content{
    margin-left: 100px;
    text-align: start;
    color: var(--neutral-white-100);
}
.slider-content h1{
    font-family: var(--second-font);
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.slider-content .site-button{
    margin-top: 20px;   
}
.slider-content .site-button a{
    border: none;
}
.swiper-pagination-bullet-active {
    background: var(--neutral-white-100);
}
.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 31"><path d="m3.936 15.34 1.31-1.65v-.016l8.88-11.303L12.265 0l-8.88 11.303-3.17 4.034 1.862 2.37 10.29 13.098 1.848-2.367-8.957-11.4-1.321-1.697Zm3.63-.836 2.215 4.001 20.219.11-.013-3.99-22.42-.121Z" fill="%23fff"/></svg>');
}
.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 31"><path d="m26.064 15.34-1.31-1.65v-.016L15.874 2.37 17.735 0l8.88 11.303 3.17 4.034-1.862 2.37-10.29 13.098-1.848-2.367 8.957-11.4 1.321-1.697Zm-3.63-.836-2.215 4.001L0 18.615l.013-3.99 22.42-.121Z" fill="%23fff"/></svg>');
}
.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset,220px);
    right: auto;
}
.swiper-button-next{
    right: var(--swiper-navigation-sides-offset,220px);
    left: auto;
}
.swiper-button-next:after, 
.swiper-button-prev:after {
    width: 32px;
    height: 32px;
}

/* Attraction Block */
.attraction-block{
    position: relative;
}
.attraction-block .site-col-5:first-of-type{
    margin-right: 8.333333%;
}
.attraction-block .site-col-5:last-of-type{
    margin-left: 8.333333%;
}
.attraction-block-left .site-row{
    flex-direction: row-reverse;
}
.attraction-block-left .site-col-5:first-of-type{
    margin-left: 8.333333% !important;
    margin-right: 0 !important;
}
.attraction-block-left .site-col-5:last-of-type{
    margin-right: 8.333333% !important;
    margin-left: 0 !important;
}
.attraction-block-image{
    height: 750px;
}
.attraction-block-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center center;   
    border-radius: 12px;
}
.attraction-block-content svg{
    width: 40px;
    height: 40px;
}
.attraction-block-content h2{
    font-size: 60px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.attraction-block-content h3{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.attraction-block-content h3:last-of-type{
    margin: 30px 0 0 0;
}

.attraction-block-content p{
    font-size: 18px;
    margin-bottom: 15px;  
}
.attraction-block-content p:last-of-type{
    margin-bottom: 0;
}
.attraction-block-content .site-button{
    margin-top: 30px;
}

/* Info Block */
.info-block{
    position: relative;
}
.info-block .site-col-5:first-of-type{
    margin-right: 8.333333%;
}
.info-block .site-col-5:last-of-type{
    margin-left: 8.333333%;
}
.info-block-left .site-row{
    flex-direction: row-reverse;
}
.info-block-left .site-col-5:first-of-type{
    margin-left: 8.333333% !important;
    margin-right: 0 !important;
}
.info-block-left .site-col-5:last-of-type{
    margin-right: 8.333333% !important;
    margin-left: 0 !important;
}
.info-block-image{
    height: 600px;
}
.info-block-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center center;   
    border-radius: 12px;
}
.info-block-content svg{
    width: 25px;
    height: 25px;
}
.info-block-content h2{
    font-size: 60px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.info-block-content h4{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.info-block-content h5{
    font-family: var(--bold-font);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(41, 36, 51, 0.60);
}

.info-block-content p{
    font-size: 18px;
    color: rgba(53, 50, 47, 0.80); 
}
.info-block-content p:last-of-type{
    margin-bottom: 0;
}
.info-block-content .site-button{
    margin-top: 30px;
}
/* Contact Block */
.contact-block{
    position: relative;
}
.contact-block .site-row{
    justify-content: space-between;
}
.contact-block .site-col-5:first-of-type{
    margin-right: 8.333333%;
}
.contact-block .site-col-5:last-of-type{
    margin-left: 8.333333%;
}
.contact-block-left .site-row{
    flex-direction: row-reverse;
}
.contact-block-left .site-col-5:first-of-type{
    margin-left: 8.333333% !important;
    margin-right: 0 !important;
}
.contact-block-left .site-col-5:last-of-type{
    margin-right: 8.333333% !important;
    margin-left: 0 !important;
}
.contact-block-images{
    display: flex;
    gap: 30px;
}
.contact-block-image{
    height: 340px;
}
.contact-block-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center center;   
    border-radius: 12px;
}
.contact-block-content h1{
    font-family: var(--second-font);
    font-size: 58px;
    text-transform: capitalize;
    color: var(--neutral-white-100);
}

.contact-block-content .site-button{
    margin-top: 30px;
}

/* VC */
.vc_separator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.vc_separator .vc_sep_holder {
    height: 1px; 
    position: relative;
    flex: 1 1 auto;
    min-width: 10%;
}
.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.50);;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}

/* Section */
section{
    margin: 70px 0;
}
section:nth-child(4){
    margin-bottom: 0;
}
section:nth-child(5),
section:nth-child(6),
section:nth-child(7){
    margin: 120px 0;
}
section:nth-child(8){
    background-color: var(--body-color);
    padding: 100px 0;
    margin: 0 0 30px 0;
}